Encoder includes seconds in timezone when encoding

[RFC3339 section 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6) defines the timezone to consist of just hours and minutes, not seconds.

Python timezones support seconds, and when converting to a string using `isoformat`, includes the seconds.

This is an issue if you try to decode it again, as you'll get an error that it is an invalid datetime string:

```python
>>> from datetime import datetime
>>> dt = datetime.fromisoformat("1912-01-01T00:00:00-00:16:08")
datetime.datetime(1912, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=85432)))
>>> from cbor2 import encoder, decoder
>>> encoder.dumps(dt)
b'\xc0x\x1c1912-01-01T00:00:00-00:16:08'
>>> decoder.loads(b'\xc0x\x1c1912-01-01T00:00:00-00:16:08')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/rudi/pk/cbor2/cbor2/decoder.py", line 668, in loads
    return CBORDecoder(fp, **kwargs).decode()
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/rudi/pk/cbor2/cbor2/decoder.py", line 198, in decode
    return self._decode()
           ^^^^^^^^^^^^^^
  File "/Users/rudi/pk/cbor2/cbor2/decoder.py", line 185, in _decode
    return decoder(self, subtype)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/rudi/pk/cbor2/cbor2/decoder.py", line 379, in decode_semantic
    return semantic_decoder(self)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/rudi/pk/cbor2/cbor2/decoder.py", line 445, in decode_datetime_string
    raise CBORDecodeValueError(f"invalid datetime string: {value!r}")
cbor2.types.CBORDecodeValueError: invalid datetime string: '1912-01-01T00:00:00-00:16:08'
```

I guess we should not allow serialization of such datetimes at all then?

I don't think this problem would ever manifest in real life though, as all time zones have UTC offsets in 30 minute increments.

I think raising an exception when trying to serialize such datetimes is a good solution. Silently truncating data on serialization doesn't seem like a good solution, letting the user know that we can't serialise it, and having them truncate it before passing to us, sounds correct to me. 

Amusingly, I think this only became a problem in Python 3.7, given the note on [timezone](https://docs.python.org/3/library/datetime.html#datetime.timezone) indicating "The UTC offset is not restricted to a whole number of minutes".

On v6.0.0rc1:
```pycon
>>> from datetime import datetime
>>> dt = datetime.fromisoformat("1912-01-01T00:00:00-00:16:08")
>>> from cbor2 import dumps, loads
>>> dumps(dt)
b'\xc0x\x1c1912-01-01T00:00:00-00:16:08'
>>> loads(b'\xc0x\x1c1912-01-01T00:00:00-00:16:08').isoformat()
'1912-01-01T00:00:00-00:16:08'
```
Problem solved?

Looks good to me! If I update the hypothesis testing with this diff, then it all now passes:
```diff
diff --git a/tests/hypothesis_strategies.py b/tests/hypothesis_strategies.py
index ba12c47..ac8ff95 100644
--- a/tests/hypothesis_strategies.py
+++ b/tests/hypothesis_strategies.py
@@ -13,11 +13,6 @@ if sys.hexversion < 51314855:
 MAX_SIZE = 5
 MAX_LEAVES = 2
 
-# Seconds in timezones get rounded when serialised, so we can only test whole minute
-# timezones for invariance
-timezones = strategies.integers(min_value=-(24 * 60 - 1), max_value=24 * 60 - 1).map(
-    lambda m: timezone(timedelta(minutes=m))
-)
 
 basic_immutable_strategy = strategies.one_of(
     strategies.none(),
@@ -28,7 +23,7 @@ basic_immutable_strategy = strategies.one_of(
     # nan != nan, so we can't test invariance with it
     strategies.floats(allow_nan=False),
     strategies.decimals(allow_nan=False),
-    strategies.datetimes(timezones=timezones),
+    strategies.datetimes(timezones=strategies.timezones()),
     # strategies.just(undefined),
     strategies.fractions(),
     strategies.uuids(),
```

Not sure if you want to close this issue, or update the hypothesis tests before closing the issue?

Thanks, I've updated the strategies now.